@using Core.Database.Models
@using Web.Areas.Admin.Extensions
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="/css/adminlte.min.css">
    @await RenderSectionAsync("Css", required: false)
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="index3.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Contact</a>
                </li>
            </ul>

        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                    style="opacity: .8">
                <span class="brand-text font-weight-light">Tea House</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Hien Thong tin nguoi dung-->
                @{
                    var member =Context.Session.GetObject<Member>("Member");
                    if (member != null) //Ham nay chi check loi thoi  
                    {
                        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                            <div class="image">
                                <img src="@member.Picture" class="img-circle elevation-2" alt="@member.Name">
                            </div>
                            <div class="info">
                                <a href="#" class="d-block">@member.Name</a>
                            </div>
                        </div>
                    }
                }
                <!-- Sidebar user panel (optional) -->
                

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search"
                            aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                        <li class="nav-item menu-open">
                            <a href="@Url.Action("Index", "Home", new {area  = "Admin"})" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Trang chu
                                </p>
                            </a>
                        </li>
                        @* Danh Muc *@
                        <li class="nav-item menu-is-opening menu-open">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    Danh Muc
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: block;">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Category", new {area  = "Admin"})" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Chuyen Muc</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Product", new {area  = "Admin"})" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>San Pham</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Article", new {area  = "Admin"})" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Tin Tuc</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @* Nghiep Vu *@
                        <li class="nav-item menu-is-opening menu-open">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tv"></i>
                                <p>
                                    Nghiep Vu
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: block;">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Order", new {area  = "Admin"})" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Don dat hang</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @* Thong Ke *@
                        <li class="nav-item menu-is-opening menu-open">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-chart-pie"></i>
                                <p>
                                    Thong Ke
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: block;">
                                <li class="nav-item">
                                    <a href="@Url.Action("IncomeByMouth", "Report", new {area  = "Admin"})"
                                        class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Doanh Thu Theo Thang</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @* He Thong *@
                        <li class="nav-item menu-is-opening menu-open">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-cogs"></i>
                                <p>
                                    He thong
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: block;">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Group", new {area  = "Admin"})" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Nhom Quyen</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Member", new {area  = "Admin"})" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Thanh Vien</p>
                                    </a>
                                </li>

                                <!-- Dang Xuat-->
                                <li class="nav-item">
                                    <a href="@Url.Action("Logout", "Member", new {area  = "Admin"})" class="nav-link">
                                        <i class="fa-solid fa-user"></i>
                                        <p>
                                            Logout
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>


                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">@ViewBag.Title</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Trang Chu</a></li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Js", required: false)

    <!-- AdminLTE App -->
    <script src="/js/adminlte.js"></script>

    <!-- Show active -->
    <script>
        $(function () {
            $("ul.nav-sidebar > li > a").removeClass("active");
            let currLoc = $(location).attr('pathname');
            $("ul.nav-sidebar > li a").each(function () {
                let url = $(this).attr("href");
                if (currLoc == url) {
                    $(this).addClass("active");
                    $(this).closest("ul.nav-treeview").closest("li").addClass("menu-open").find("> a.nav-link").addClass("active");
                    return;
                }
            })
        })
    </script>
</body>

</html>
